$orangeColor: #ef7330;
$progressBackColor: rgb(222, 222, 222);
$greyColor: rgb(158, 158, 159);
$green1: #ccd6a6;
$green2: #dae2b6;
$green3: #dfe8cc;
$green4: #faf8f1;

$brown1: #594545;
$brown2: #815b5b;
$brown3: #9e7676;
$brown4: #fff8ea;

$pastel1: #b2a4ff;
$pastel2: #ffb4b4;
$pastel3: #ffdeb4;
$pastel4: #fdf7c3;

$mainbackground: rgb(249, 249, 249);
// $sidebackground: rgb(242, 241, 246);
// $playerbackground: rgb(247, 246, 250);
// FF8400

// $mainbackground: rgba(0, 0, 0, 0.9);
