$orangeColor: #ef7330;
$orangeSoftColor: #ff8543;
$progressBackColor: rgb(222, 222, 222);
$greyColor: rgb(158, 158, 159);
$mainbackground: rgb(249, 249, 249);

// $sidebackground: rgb(242, 241, 246);
// $playerbackground: rgb(247, 246, 250);
// FF8400

// $mainbackground: rgba(0, 0, 0, 0.9);
$footerColor: rgb(37, 37, 37);
$progressBackground: rgb(78, 78, 78);
$buttonColor: rgb(214, 214, 214);
$playListBorder: rgb(146, 139, 135);
$listItemBorder: rgb(132, 132, 132);
$skeletonsColor: hsl(0, 1%, 36%);
