/* @import "./base.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@import "@/assets/color.scss";

// Fonts
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
}

* {
  color: #3e3a41;
  font-family: NotoSansKR;
}
svg {
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

button {
  background: inherit;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  border: 0;
}
