@import "@/assets/color.scss";

// Fonts
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR;
  src: url("/fonts/NotoSansKR-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  margin: 0;
  height: 100%;
}
#app {
  height: 100%;
}

* {
  // color: #3e3a41;
  color: rgb(159, 159, 159);
  font-family: NotoSansKR;
}
svg {
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

button {
  background: inherit;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  border: 0;
}
